node_modules/
.env
.DS_Store
dist/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/

# Documentation and temporary files
*.puml
*.md
!docs/**/*.puml

metricool_attributes_reference_v5.html

*.md